body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
}

.chatbot-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chatbot-header {
    background: #1B03A3;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    font-size: 24px;
}

.chat-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.input-area {
    padding: 10px;
    background-color: #f5f5f5;
}

#chat-form {
    display: flex;
}

#user-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}