/* discordbot.css */
#discordBotButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discordBotButton img {
  width: 40px;
  height: 40px;
}

/* Discord Message Box Styles */
#discordMessageBox {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

#discordMessageInput {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #2c2f33;
  color: white;
  margin-top: 5px;
}

#discordSendButton {
  background-color: #7289da;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

#discordSendButton:hover {
  background-color: #677bc4;
}
