body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    float: right;
  }

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.content {
    margin-left: 260px; /* Adjust as needed based on sidebar width */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}
